.form__field-text-FN {
	margin-top: 117px;
	margin-left: 27px;
	padding-left: 20px;
	width: 245px;
	height: 60px;
	border: 1px solid;
	border-radius: 6px;
	font-size: 20px;
}
.form__field-text-LN {
	margin-top: 117px;
	margin-left: 22px;
	padding-left: 20px;
	width: 245px;
	height: 60px;
	border: 1px solid;
	border-radius: 6px;
	font-size: 20px;
}
.form__field-text-PN {
	margin-top: 24px;
	margin-left: 30px;
	padding-left: 20px;
	width: 540px;
	height: 60px;
	border: 1px solid;
	border-radius: 6px;
	font-size: 20px;
}
.form__field-text-FN: focus {
	background-color: #FFF;
	opacity: 1; 
	transition: opacity 0.3s ease;
}
.form_select {
	position: relative;
	margin-top: 24px;
	margin-left: 30px;
	padding-left: 20px;
	width: 562px;
	height: 60px;
	border: 1px solid;
	border-radius: 6px;
	font-size: 20px;
}
.form_button {
	width: 160px;
	height: 50px;
	margin-top: 35px;
	margin-left: 30px;
	background: #ED4C5C;
	border: 1.5px solid #ED4C5C;
	box-sizing: border-box;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}