a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.section_head {
	margin: 0 auto;
	width: 1440px;
	height: 782px;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../images/pic1.jpg);
}
.section_head-logo {
	margin-left: 166px;
	margin-right: 161px;
	padding-top: 59px;
	display: flex;
	float: left;
	width: 200px;
	height: 22px;
}
.section_head-logo-item {
	margin: 0;
	margin-left: 10px;
	width: auto;
	height: 22px;
	float: left;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}
.head_nav {
	float: left;
	margin-top: 59px;
}
.head_menu {
	margin: 0;
	padding: 0; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 445px;
	height: 22px;
	list-style: none;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.select_languages {
	position: relative;
	width: 150px;
	height: 66px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-flow: column;
	float: left;
	margin-top: 56px;
	margin-left: 30px;
}
.select {
	position: absolute;
	left: 100px;
	cursor: pointer;
}
.hidden_languages {
	display: none;
}
.languages_EN {
	margin-left: 20px;
	width: 66px;
	height: 33px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}
.languages_RU {
	margin-left: 20px;
	width: 66px;
	height: 33px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.head_login-list {
	margin-top: 50px;
	margin-right: 168px;
	height: 22px;
	float: right;
	display: flex;
	align-items: center;

	justify-content: flex-end;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding: 11px 28px 12px 29px;
	border-radius: 6px;
	border: 1px solid;
	border-color: #FFFFFF;
	color: #FFFFFF;
}
.heading {
	margin: 0 auto;
	margin-left: 431px;
	padding-top: 177px;
	margin-right: 431px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 578px;
	height: 86px;
}
.heading_text {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 86px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #FFFFFF;
}
.main_item {
	margin-left: 450px;
	margin-right: 450px;
	padding-top: 39px;
	width: 540px;
	height: 124px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_item-text {
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 150%;
	/* or 36px */
	text-align: center;
	color: #FFFFFF;
}
.main_item-button {
	margin-left: 641px;
	width: 160px;
	height: 50px;
	margin-top: 56px;
	border-radius: 9px;
	border: 3px;
	background: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main_item-button-text {
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #ED4C5C;
}
.second_block {
	margin: 0 auto;
	display: flex;
	width: 1440px;
	height: 500px;
	background: #FFFFFF;
}
.second_block-parts {
	position: relative;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
.second_block-head {
	margin: 0;
	margin-left: 165px;
	padding-top: 140px;
	margin-right: 0px; 
	width: 445px;
	height: 107px;
	
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;

	color: #000000;
}
.second_block-text {
	margin-top: 24px;
	margin-left: 165px;
	margin-right: 0px;
	width: 445px;
	height: 115px;
	
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	/* or 20px */

	text-align: justify;

	color: #000000;
}
.second_block-link {
	margin-left: 165px;
	margin-right: 0px;
	width: 71px;
	height: 20px;
	
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	text-align: justify;

	color: #ED4C5C;
}
.video_bg {
	width: 445px;
	height: 311px;
	margin-top: 94px;
	margin-left: 30px;
	background: url(../images/pic3.jpg), #C4C4C4;
	border-radius: 15px;
}
.circle_button {
	position: absolute;
	width: 66px;
	height: 66px;
	left: -2px;
	top: 202px;

	border-radius: 33px;
	background: #ED4C5C;
}
.circle_button-item {
	position: absolute;
	left: 25px;
	top: 226px;

	border-top: 9px solid transparent;
	border-left: 14px solid #D0D4DC;
	border-bottom: 9px solid transparent;

	color: #FFFFFF;
}
.features_block {
	margin: 0 auto;
	width: 1440px;
	height: 660px;
	background: #FAFAFA;
}
.heading_features {
	padding-top: 63px;
	margin-left: 165px;
	margin-right: 165px;
	width: 1110px;
	height: 55px;
}
.heading_features-text {
	margin-top: 0;
	width: auto;
	height: 55px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	text-align: center;

	color: #000000;
}
.features_block-inner {
	margin: 0 auto;
	margin-top: 63px;
	margin-left: 150px;
	width: 1110px;
	height: 350px;
	display: flex;
}
.features_block-item {
	position: relative;
	width: 350px;
	height: 350px;
	justify-content: space-between;
	align-content: center;
	margin: 0 15px;
}
.features_images {
	width: auto;
	height: 250px;
}
.features_border_block {
	position: absolute;
	width: 293px;
	height: 198px;
	left: 30px;
	top: 159px;

	background: #FFFFFF;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.features_border_block-head {
	width: 229px;
	height: 40px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 32px;
	padding-top: 33px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;

	color: #101010;
}
.features_border_block-text {
	width: 229px;
	height: 57px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-left: 32px; 
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	/* or 18px */
	text-align: center;
	color: #101010;
}
.features_border_block-link {
	width: 253px;
	height: 18px;
	margin-top: 0;
	padding-top: 5px;
	padding-left: 20px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 150%;
	/* identical to box height, or 18px */
	text-align: center;
	color: #ED4C5C;
}
.block_technology {
	margin: 0 auto;
	width: 1440px;
	height: 500px;
	background: #FFFFFF;
}
.block_technology-head {
	width: 1110px;
	height: 55px;
	margin-left: 165px;
	margin-top: 63px;	
	margin-bottom: 0px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	text-align: center;

	color: #000000;
}
.block_technology-inner {
	margin: 0 auto;
	width: 1110px;
	height: 226px;
	margin-top: 52px;
	margin-left: 165px;
	display: flex;
}
.block_technology-item {
	position: relative;
	width: 255px;
	height: 226px;
	justify-content: space-between;
	margin: 0 15px;
}
.block_technology-number {
	position: absolute;
	margin-left: 69px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 117px;
	height: 120px;
	
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	line-height: 120px;
	text-align: center;
	/* identical to box height */
	color: rgba(16, 16, 16, 0.08);
}
.block_technology-img {
	position: absolute;
	width: 64px;
	height: 106px;
	left: 93px;
	top: 36px;
	margin-bottom: 0px;
}
.block_technology-img-2 {
	position: absolute;
	width: 45px;
	height: 106px;
	left: 104px;
	top: 36px;
	margin-bottom: 0px;
}
.block_technology-heading {
	
	width: 119px;
	height: 22px;
	margin-top: 130px;
	margin-left: 66px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	text-align: center;

	color: #101010;
}
.block_technology-text {
	width: 191px;
	height: 51px;
	margin-left: 25px;
	margin-top: 20px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #000000;
}
.stay_block {
	margin: 0 auto;
	width: 1440px;
	height: 500px;
	background: #ED4C5C;
	display: flex;
	justify-content: space-between;
}
.stay_block_inner {
	position: relative;
	width: 50%;
	height: auto;
}
.stay_block-head {
	width: 445px;
	height: 107px;
	margin-top: 122px;
	margin-left: 165px;

	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
}
.stay_block-text {
	width: 445px;
	height: 64px;
	margin-top: 24px;
	margin-left: 165px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #FFFFFF;
}
.googlelogo1 {
	position: absolute;
	left: 166px;
	top: 380px;
}
.googlelogo2{
	position: absolute;
	left: 169px;
	top: 379px;
}
.googlelogo3 {
	position: absolute;
	left: 183px;
	top: 388px;
}
.googlelogo4 {
	position: absolute;
	left: 169px;
	top: 394px;
}
.stay_block_A {
	position: absolute;
	left: 220px;
	top: 380px;
}
.stay_block_wl {
	position: absolute;
	left: 275px;
	top: 382px;
}
.stay_block_vbl {
	position: absolute;
	width: 383px;
	height: 267px;
	top: 125px;
	opacity: 0.5;
	border-radius: 15px;
	background: #C4C4C4;
}
.stay_block_vbr {
	position: absolute;
	width: 383px;
	height: 267px;
	left: 178px;
	top: 125px;
	opacity: 0.5;
	border-radius: 15px;
}
.stay_block_vbc {
	position: absolute;
	width: 445px;
	height: 311px;
	left: 60px;
	top: 104px;
	border-radius: 15px;	
}
.block_contact {
	margin: 0 auto;
	width: 1440px;
	height: 500px;
	display: flex;
	justify-content: space-between;
}
.block_contact_inner {
	position: relative;
	width: 50%;
	height: auto;
}
.block_contact-head {
	width: 445px;
	height: 107px;
	margin-top: 117px;
	margin-left: 176px;
	margin-bottom: 0px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}
.block_contact-text {
	width: 434px;
	height: 64px;
	margin-left: 176px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #000000;
}
.footer {
	margin: 0 auto;
	margin-top: 150px;
	width: 1440px;
	height: 435px;
	display: flex;
	justify-content: space-around;
}
.footer_inner {
	position: relative;
	width: 250px;
	height: auto;
}
.footer_head {
	width: auto;
	height: auto;
	margin-left: 40px;
	margin-bottom: 33px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
}
.footer_text {
	width: auto;
	height: auto;
	margin-left: 40px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;
	text-decoration: none;
	color: #000000
}
.fb_logo {
	position: absolute;
	width: auto;
	height: auto;
	left: 37px;
	top: 133px;
}
.ld_logo {
	position: absolute;
	width: auto;
	height: auto;
	left: 67px;
	top: 133px;
}
.tw_logo {
	position: absolute;
	width: auto;
	height: auto;
	left: 97px;
	top: 133px;
}
.secure {
	position: absolute;
	width: auto;
	height: auto;
	left: 30px;
	top: 67px;
}