a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: red;
}
.header_inner {
	margin: 0 auto;
	width: 1370px;
	height: 85px;
	padding:  0 15px;
}
.header_logo {
	display: flex;
	height: 85PX;
	align-items: center;
	float: left;
	margin-right: 172px;
}
.header_nav {
	float: left;
}
.header_menu {
		margin: 0;
		padding: 0; 
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 85px;
		width: 557px;
		list-style: none;
}
.header_auth{
	float: right;
}
.header_auth-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 227px;
	height: 85px;
	list-style: none;
	text-decoration: none;
}
.header_auth-list-button {
	padding: 13px 50px 13px 50px;
	border-radius: 3px;
	background: #3bab39;
	text-decoration: none;
}
.section_baner-size {
	height: 895px;
	background-image: url(../images/BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.section_baner-text {
	margin: 0 auto;
	width: 1370px;
	
	padding:  0 15px;
	}
.heading_baner {
	margin-top: 0;
	width: 440px;
	padding-top: 175px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	line-height: 74px;
	color: #01996D;
}
.section_baner-message {
	
	margin-bottom: 18px;
	width: 440px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 31px;
	color: #484848;
}
.section_baner-button {
	margin-top: 18px;
	display: inline-block;
	padding: 20px 50px 20px 50px;
	border-radius: 3px;
	background: #3bab39;
	text-decoration: none;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
}
.section_news {
	margin: 0 auto;
	padding:  0 15px 0;
}
.news_top {
	margin: 0 auto;
	width: 1370px;
	height: 284px;
	margin-top: 169px;
	padding: 0 15px;
}
.news_top-item {
	width: 141px;
	height: 33px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 157%;
	color: #424242;
}
.news_top-item-1 {
	position: absolute;
	margin-top: 0px;
	width: 584px;
	height: 137.22px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 157%;
	/* or 79px */
	color: #01996D;
}
.news_top-item-2 {
	width: 630px;
	height: 234px;
	margin-left: 0px;
	float: right;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	/* or 30px */
	color: #424242;
}
.news {
	display: flex;
	margin: 0 auto;
	width: 1370px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding:  0 15px;
	justify-content: space-between;
}
.news_item {
	padding: 0px;
	width: 400px;
}
.news_item_blok {
	display: flex;
	position: relative;
}
.news_item_number {
	position: relative;
	justify-content: flex-start;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	line-height: 150%;
	/* or 225px */
	text-align: center;
	color: rgba(1, 153, 109, 0.2);
}
.news_item_word {
	position: absolute;
	top: 121px;
	left: 106px;
	align-items: baseline;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 150%;
	/* or 45px */
	text-align: center;
	color: #000000
}
.news_item-text {
	align-items: flex-end;
	margin-top: 0px;
	width: 382px;
	height: 143.6px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	/* or 30px */
	color: #424242;
}
.news_item-img {
	align-items: baseline;
	margin-top: 50px;
	width: 100%;
	height: 100%;
}
.story {
	margin: 0 auto;
	width: 100%;
	background: #245852;
}
.story_blocks {
	margin: 0 auto;
	display: flex;
	width: 1370px;
	padding: 0 15px;
}
.story_block_1 {
	width: 590px;
	flex-direction: column;
}
.story_block-2 {
	width: 900px;
	margin-left: 31px;
		margin-bottom: 200px;
}
.story_heading {
	padding-top: 200px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 157%;
	color: #FFFFFF;
}
.story_text-1 {
	width: 580px:;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 157%;
	/* or 39px */
	color: #FFFFFF;
}
.story_text-button {
	padding: 13px 20px 13px 20px;
	border-radius: 3px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	/* identical to box height, or 125% */
	background: #01996D;
	display: inline-block;
}

.story_rolik {
	padding-top: 200px;
	width: 650px:;
	border-radius: 16px;
}
.our_product {
	margin: 0 auto;
	width: 100%;
}
.our_product_block {
	display: flex;
	width: 1370px;
	height: 648px;
	margin: auto;
	margin-top: 120px;
	padding-bottom: 168px;
}
.our_product_item {
	position: relative;
	width: 50%;
	height: auto;
}
.our_product_item-card{
	width: 638px;
	height: 573px;
}
.our_product_item-picture {
	position: absolute;
	align-items: flex-end;
	width: 296.14px;
	height: 293.9px;
	left: -50px;
	top: 400px;
}
.our_product-header {
	width: 136px;
	height: 39px;
	left: 905px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 157%;
	/* or 39px */
	color: #424242;
}
.our_product-text1 {
	width: 584px;
	height: 158px;
	padding-top: 20px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 157%;
	/* or 79px */


	color: #01996D;
}
.our_product-text2 {
	width: 530px;
	height: 81px;
	left: 920px;
	top: 3950px;

	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 31px;

	color: #484848;
}
.our_product-button {
	width: 97px;
	height: 20px;
	left: 916px;
	top: 4100px;

	padding: 13px 50px 13px 50px;
	border-radius: 3px;
	background: #01996D;
	text-decoration: none;
	display: inline-block;
}
.footer {
	margin: 0 auto;
	width: 100%;
 	
 	background: #245852;
}
.footer_iner {
	margin: 0 auto;
	width: 1370px;
	height: 654px;
	padding: 0 15px;
}
.footer_iner-logo {
	margin-top: 0;
	padding-top: 122px;
	
	font-family: Avenir;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 55px;
	color: #FFFFFF;
}
.footer_iner-text {
	margin-top: 60px;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
}
@media(max-width: 1024px) {
	.story_rolik {
		width: 100%;
	}
	.header_inner {
		width: 100%;
	}
	.header_logo {
		margin-right: 50px;
	}
	.header_menu {
		justify-content: space-evenly;
	}
	.header_auth-list {
		padding-right: 20px;
	}
	.news_top {
		width: 100%;
	}
	.news_top-item-2 {
		float: left;
		padding-top: 200px;
	}
	.news {
		width: 100%;
		flex-wrap: wrap;
	}
	.story_blocks {
		width: 100%;
	}
	.story_block_1 {
		width: 100%;
	}
	.story_block-2 {
		width: 100%;
	}
	.our_product_block {
		width: 100%;
	}
	.footer_iner {
		width: 100%;
	}
	.section_baner-text {
		width: 100%;
	}
}